{% extends "vineta_base.html" %}
{% block title %}Entrar - Comics Recsys{% endblock %}
{% block cuerpo %}
  <form class="caption cuerpo" method="post">
    <h1>¿Quién anda ahí?</h1>
    <label>Usuario o nombre
      <input type="text" name="identificador" required autofocus autocomplete="username">
    </label>
    <label>Contraseña
      <input type="password" name="password" required autocomplete="current-password">
    </label>
    <button type="submit">Entrar</button>
  </form>
{% endblock %}
{% block pie %}¿Primera vez en la ciudad? <a href="{{ url_for('auth.registro') }}">Registrate</a>{% endblock %}
